/*computadoras 1920 x 1080 */

@media (min-width: 1365px){

 
    .cotizacion {
        margin: 30px 0 0 315px;
        
  
    }
    .cotizacion-oficial{
       display:inline;    
       font-size:50px;
       margin: 200px 0 0 20px;
       color: #BA5A1C;
       
    }
    
    .cotizacion-blue{
        display:inline;
        font-size:50px;
        margin: 200px 0 0 50px;
        color: #BA5A1C;

        
    }


}

/* computadoras 1366 x 768px*/


@media (min-width: 1080px) and (max-width: 1366px) {
 
    .cotizacion {
        margin: 30px 0 0 90px;
        
        
  
    }
    .cotizacion-oficial{
       display:inline;    
       font-size:50px;
       margin: 200px 0 0 20px;
       color: #BA5A1C;
       
    }
    
    .cotizacion-blue{
        display:inline;
        font-size:50px;
        margin: 200px 0 0 50px;
        color: #BA5A1C;
        
    
    }

}

/* tablets */

@media (max-width: 768px) and (max-height: 1024px) {
    
    .cotizacion {
        margin: 30px 0 20px -20px;
        

  
    }
    .cotizacion-oficial{
        display:inline;
       font-size:30px;
       margin: 10px 0 0 50px;
       color: #BA5A1C;
       
    }
    
    .cotizacion-blue{
        display: inline;
        font-size:30px;
        margin: 30px 0 0 50px;
        color: #BA5A1C;
        
    
    }


}


/*celulalres */


@media (min-width: 360px) and (max-width: 768px){
    .cotizacion {
        margin: 30px 0 0 90px;
        
        
  
    }
    .cotizacion-oficial{
       display:inline;    
       font-size:50px;
       margin: 200px 0 0 20px;
       color: #BA5A1C;
       
    }
    
    .cotizacion-blue{
        display:inline;
        font-size:50px;
        margin: 200px 0 0 50px;
        color: #BA5A1C;
        
    
    }

}

/* tablets */

@media (max-width: 768px) and (max-height: 1024px) {
    
    .cotizacion {
        margin: 30px 0 20px -20px;
    
        

  
    }
    .cotizacion-oficial{
        display:inline;
       font-size:30px;
       margin: 10px 0 0 50px;
       color: #BA5A1C;
       
    }
    
    .cotizacion-blue{
        display: inline;
        font-size:30px;
        margin: 30px 0 0 50px;
        color: #BA5A1C;
        
    
    }






}



@media (max-width: 768px) {

    .cotizacion {
        margin: 30px 0 20px -25px;
      
    
        

  
    }
    .cotizacion-oficial{
        display:inline;
       font-size:12px;
       margin: 10px 0 0 50px;
       color: #BA5A1C;
       
    }
    
    
    .cotizacion-blue{
        display: inline;
        font-size:12px;
        margin: 30px 0 0 50px;
        color: #BA5A1C;
        
    
    }




}